    <div class="jumbotron mt-4">
        <hi class="display-4">
            Notes App Nodejs and MongoDB
        </hi>
        <p>
            {{!-- Nodejs and MongoDB project, created with Handlebars.js and Bootstrap 4. </br>
            create, read, update and delete notes. --}}
        </p>
        <hr class="my-4">
        <p>Nodejs and MongoDB project, created with Handlebars.js and Bootstrap 4. </br>
            create, read, update and delete notes.
        </p>
    </div>